*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:honeydew ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    background-color: black;
    color: white;
    height: 150px;
    margin-bottom: 50px;
}

h1{
    padding-top: 50px;
    text-align: center;
}

/* cards */
.cards{
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    
    
}

.card{
    width: 250px;

 
}

